In [6]:
import pandas as pd

In [12]:
step_tracker_detail = pd.read_csv(r'D:\Data Analytics\Kaggle datasets\steps_tracker_dataset.csv')
step_tracker_detail.head(10)

,date,steps,distance_km,calories_burned,active_minutes,sleep_hours,water_intake_liters,mood
0,08/10/2022,4147,3.11,124.41,41,10.5,3.77,stressed
1,11/06/2022,323,0.24,9.69,3,6.0,1.90,sad
2,28/01/2022,6622,4.97,198.66,66,6.0,4.48,sad
3,23/03/2022,11136,8.35,334.08,111,8.0,1.08,tired
4,20/05/2022,2718,2.04,81.54,27,4.9,1.00,tired
5,26/12/2022,4972,3.73,149.16,50,6.0,3.33,happy
6,27/07/2022,15271,11.45,458.13,153,3.4,0.88,happy
7,13/07/2022,17290,12.97,518.70,173,11.6,4.08,energetic
8,17/06/2022,1042,0.78,31.26,10,6.5,2.49,happy
9,25/06/2022,6818,5.11,204.54,68,6.5,3.61,stressed

In [14]:
type(step_tracker_detail)

pandas.core.frame.DataFrame

# Inspecting dataframe
Methods: Have parentheses (), may take parameters
Attributes/Property : do not have parentheses

In [ ]:
step_tracker_detail.shape
#(Rows, columns)

(500, 8)

In [ ]:
# •	df.info() → Summary of DataFrame (data types, non-null counts)
step_tracker_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 500 non-null    object
 1   steps                500 non-null    int64
 2   distance_km          500 non-null    float64
 3   calories_burned      500 non-null    float64
 4   active_minutes       500 non-null    int64
 5   sleep_hours          500 non-null    float64
 6   water_intake_liters  500 non-null    float64
 7   mood                 500 non-null    object
dtypes: float64(4), int64(2), object(2)
memory usage: 31.4+ KB

In [ ]:
# •	df.describe() → Summary statistics (numerical columns)
step_tracker_detail.describe()

,steps,distance_km,calories_burned,active_minutes,sleep_hours,water_intake_liters
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000
mean,10238.572000,7.678800,307.157160,102.40800,7.292400,2.506580
std,5829.268207,4.371964,174.878046,58.29293,1.814046,1.426296
min,26.000000,0.020000,0.780000,0.00000,3.100000,0.040000
25%,5313.250000,3.985000,159.397500,53.00000,6.000000,1.300000
50%,10699.000000,8.025000,320.970000,107.00000,7.000000,2.495000
75%,15317.500000,11.490000,459.525000,153.00000,8.225000,3.785000
max,19979.000000,14.980000,599.370000,200.00000,12.000000,5.000000

In [ ]:
# •	df.columns → Get column names
step_tracker_detail.columns

Index(['date', 'steps', 'distance_km', 'calories_burned', 'active_minutes',
       'sleep_hours', 'water_intake_liters', 'mood'],
      dtype='object')

In [23]:
# •	df.dtypes → Check data types of columns
step_tracker_detail.dtypes

date                    object
steps                    int64
distance_km            float64
calories_burned        float64
active_minutes           int64
sleep_hours            float64
water_intake_liters    float64
mood                    object
dtype: object

In [33]:
# •	df.nunique() → Count unique values in each column
step_tracker_detail.nunique()

date                   268
steps                  491
distance_km            425
calories_burned        491
active_minutes         183
sleep_hours             82
water_intake_liters    311
mood                     5
dtype: int64

In [34]:
type(step_tracker_detail.nunique())

pandas.core.series.Series

In [35]:
# •	df.memory_usage() → Check memory usage of DataFrame
step_tracker_detail.memory_usage()

Index                   132
date                   4000
steps                  4000
distance_km            4000
calories_burned        4000
active_minutes         4000
sleep_hours            4000
water_intake_liters    4000
mood                   4000
dtype: int64